:root{
    --bs-teal: #72e7e1;
    --secondary-color: #dce9d8;
    --font-size: 16px;
}

body{
    background-color: var(--bs-green);
    font-family: "Oswald", sans-serif;
    margin: 0px;
}

h1, h2, h3, h4{
    font-family: "EB Garamond", serif;
    font-style: normal;
    line-height: 1rem;
}

h1{ font-size: 2.5rem;
    font-weight: 600;
}