:root{
    --primary-color: #f7f3dc;
    --secondary-color: #eccc7b;
    --third-color: #385340;
    --primary-font-color: #232220;
    --secondary-font-color: #f7f3dc;


    margin: 0px;
    font-size: 16px;
}

body{
    background-color: var(--secondary-color);
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    margin: 0px, 20%;
}

h1, h2, h3, h4{
    font-family: "EB Garamond", serif;
    font-style: normal;
}

h1{ font-size: 2.5rem;
    font-weight: 600; 
    line-height: 1.8rem;}

h2{ font-size: 2.0rem; }
h3{ font-size: 1.75rem; }
h4{ font-size: 1.5 rem; }