*{
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	outline: none; border: none;
	transition: .1s ease-in;
}

:root{
	--main-color:#A1A80F;
	--primary-color:#98B3A2;
	--second-color:#ACB05F;
	--third-color:#DFDFDF;
}

body{
  	font-family: "Quattrocento", serif;
  	font-weight: 400;
  	font-style: normal;
	font-size: 16px;
	box-sizing: border-box;
	background-color: var(--third-color);
}

/*
.grid{
	height:100%;
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 0px 10%;
	display: flex;
	justify-content: space-between;
	z-index: 1000;
}

.elem{
	width: calc(100%/18);
	background-color: rgba(255, 0, 0, 0.1);
}
*/


h1, h2, h3, h4{
	font-family: "Oswald", sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-weight: 700;
}

h5, h6{
	font-family: "Quattrocento", serif;
  	font-weight: 700;
  	font-style: normal;
}

h1{font-size: 3.5rem;}
h2{font-size: 2rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}

a{
	text-decoration: none;
	color: #111111;
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
}

section{
	padding: 72 10%;
}


.header{
	position: fixed;
	top: 0; left: 0; right: 0;
	padding: 10px 9%;
	background-color: var(--second-color);
	border-bottom: #222222 solid 1px;
	color: #111111;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

#logo{
	font-family: "Oswald", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	padding: 8px 16px;
}

.navbar a{
	font-style: normal;
	font: 16px;
	font-weight: 500;
	margin: 0px;
	padding: 8px 16px;
}


/* hero section */
.heroSection{
	height: 520px;
	background-image: url('Images/hero-img.jpg') !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 0px;
	margin-top: 70.2;
	padding: 16px;
	border: #222222 solid 1px;
	display: flex;
	justify-content: center;
	justify-items: center;
}

.heroSection .textOnHero{
	max-width: 500px;
	margin:auto;
	padding: 28px 32px;
	text-align: center;
	color: #111111;
	background-color: var(--third-color);
	border: var(--second-color) solid 1px;
	z-index: 2;
}

.heroSection .textOnHero h1{
	margin: 0;
	padding: 0;
	line-height: 1;
	margin-bottom: 24px;
}

.heroSection .textOnHero b{
	font-size: 3.5rem;
	color: var(--second-color);
	font-weight: 400;
	text-shadow: 
		2px 2px 0 #000,
		-1px 1px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000;
	letter-spacing: 0px;
}

.heroSection .textOnHero p{
	margin-bottom: 16px;
}

.heroSection .textOnHero a{
	text-transform: uppercase;
	font-weight: 400;
	background-color: var(--second-color);
	padding: 6px 24px;
}


/**/
.service-div{
	background-color: var(--third-color);
	padding: 52px 10%;
}

.service-div h2{
	text-align: center;
	margin-bottom: 16px;
}

.servise-purposes{
	display: flex;
	justify-content: space-evenly;

}

.servise-purpose{
	border: #222222 solid 1px;
	width: calc(25% - 6%);
	min-height: 250px;
	background-color: var(--second-color);
}

.servise-purpose h5{
	padding: 24px 32px;
	padding-bottom: 12px;
	border-bottom: #222222 solid 1px;
	background-color: var(--main-color);
}

.servise-purpose div{
	padding: 24px 32px;
	padding-top: 12px;
	width: 75%;
}


.teamSection{
	background-color: #3A4D39;
	color: whitesmoke;
	padding: 32px 80px;
	text-align: left;
}

.teamSection h2{
	margin-top: 0px;
	text-align: center;
}

.experts {
	display: flex;
	flex-wrap:wrap ;
	gap: 32px;
	justify-content: center;
}

.expert {
	text-align: lift;
	display:flex;
	align-items: center;
	width: 500px;
}

.expert img{
	height:64px;
	width:64px;
	border-radius: 50%;
	margin-right: 40px;
}

.expert div{
	width: 300px;
}

.expert h3{
	text-align: left;
	flex: none;
	margin-top: 0px;
}

#blogLink{
	background-color: whitesmoke;
	color: #111111;
	padding: 8px 16px;
	font-weight: 400;
	text-decoration: none;
}

#blogLink:hover{
	color: #222222;
	background-color: #5C6F5B;
}


.topDotations{
	background-color: white;
	color: #222222;
	padding: 32px 0px;
	display: flex;
	justify-content: center;
	text-emphasis: none;
}

.donationTable{
	width: 940;
	border-collapse: collapse;
}

.donationTable tr:nth-child(odd){
	background-color: whitesmoke;
}

.donationTable th{
	text-align: left;
	padding: 12px 8px;
	background-color:white;
	border: 0 px;
}

.donationTable td{
	border: 1px solid gray;
	padding: 8px 12px;
}


.application{
	background-color: #3A4D39;
	color: whitesmoke;
	padding: 32px 80px;
	text-align: left;
}

.application h2{
	margin: 0px;
	text-align: center;
}

.application-form{
	width: 220px;
	padding: 32px 16px;
	border: 1px solid #222222;
	background-color: #5C6F5B;
	margin:0 auto;
}

.application-form label{
	margin: 8px;
}

.application-form input{
	margin: 8px;
	background-color: whitesmoke;
	color: #222222;
	border: 1px solid #222222;
}


#footer {
	background-color: whitesmoke;
	padding: 32px 138px;
	text-align: center;
}

#footer-links {
	list-style: none;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap ;
	justify-content: center;
}

#footer-links l {
	margin: 0, 32px;
	text-align: center;
}
